body {
    background: linear-gradient(180deg, #4AB7AE 0%, rgba(217, 217, 217, 0.00) 23.96%);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#loading {
    display: none;
    margin: 0 16px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.error {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #7DC3EB; 
    text-decoration: none;
}

.red {
    color: red;
}

nav {
    margin-top: 32px;
    width: 100%;
}

.back-arrow {
    position: absolute;
    left: 32px;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-left: 16px;
}

h1 {
    font-size: 2.5em;
}

h3 {
    margin-bottom: 8px;
}

form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 400px;
}

form * {
    margin-bottom: 4px;
}

form input {
    margin-bottom: 16px;
    width: 100%;
    padding: 12px;
    border-radius: 0px 12px 12px 12px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form .submit {
    width: 200px;
    padding: 16px 32px;
    margin: 32px auto 64px auto;
    border-radius: 12px;
    background: #4AB7AE; 
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form .submit:hover {
    cursor: pointer;
}

.dashboard-cards {
    margin-top: 128px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    width: 250px;
    max-width: 80%;
    height: 250px;
    background-color: white;
    border-radius: 0px 12px 12px 12px;
    border: 5px solid #4AB7AE; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
    background-color: #eff9f8;
    transition: 0.3s
}

.card img {
    margin-top: 48px;
    margin-bottom: 16px;
}

.logout {
    position: absolute;
    right: 32px;
    bottom: 24px;
    width: 200px;
    padding: 16px 32px;
    border-radius: 12px;
    background: #F46B6B;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logout:hover {
    cursor: pointer;
}

.reports-content {
    width: 1000px;
    max-width: 80%;
    margin-top: 96px;
    position: relative;
}

.reports-content ul {
    padding: 0;
    width: 100%;
}

.reports-content li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 16px;
    border: 1px solid black;
    border-bottom: none;
    list-style-type: none;
}

.reports-content #last {
    border-bottom: 1px solid black;
    border-radius: 0 0 12px 12px;
}

.reports-content li * {
    display: inline;
}

.reports-content .left {
    width: 70%;
}

.reports-content .right {
    width: 30%;
    text-align: right;
}

/* actual content with <li> */
.reports-content .left *, .reports-content .right * {
    margin: 16px;
}

/* View Report */
.report-content {
    width: 800px;
    max-width: 80%;
    margin-top: 64px;
    position: relative;
}

.report-content p {
    display: inline;
}

.report-content h3 {
    margin-bottom: 64px;
}

.report-content .description {
    margin-bottom: 32px;
}

.report-content ul {
    margin-bottom: 32px;
    padding: 0;
}

.report-content li {
    list-style-type: none;
}

.report-content .btns {
    margin-top: 48px;
}

.report-content .btns a {
    padding: 16px 32px;
    margin-right: 16px;
    color: white;
    border-radius: 12px;
    background: #F46B6B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.report-content .btns button {
    padding: 14px 32px;
    margin-right: 16px;
    color: white;
    border-radius: 12px;
    border: none;
    background: #4AB7AE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.report-content .btns button:hover {
    cursor: pointer;
}

.report-content .download {
    position: relative;
    width: auto;
    height: 20px;
    vertical-align: middle;
    margin-right: 12px;
}

.get_reports input {
    width: 140px;
}

#reports-table {
    border-collapse: collapse;
}

#reports-table th, #reports-table td {
    text-align: left;
    min-width: 200px;
    border: 1px solid black;
    padding: 4px 32px 4px 8px;
}

.visualize-reports {
    position: absolute;
    top: 8px;
    right: 8px;
}

/* LIVE DATA */
.live-data-content {
    width: 90%;
    margin-top: 64px;
    display: flex;
}

#preprocessing {
    flex-grow: 1;
}

.live-data-content h3 {
    text-align: center;
}

.live-data-content img {
    width: 300px;
    height: auto;
    margin: 0 32px 0 0;
}

.generate-report-btn {
    display: inline-block;
    width: 200px;
    padding: 16px 32px;
    margin: 64px auto 16px 0;
    border-radius: 12px;
    background: #4AB7AE; 
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.generate-report-btn:hover {
    cursor: pointer;
}

.preprocessing_images {
    display: flex;
}

#least_blurry_image_parent {
    display: none;
    margin-right: 50px;
}


#resized_image_parent {
    display: none;
    margin-right: 50px;
}

#white_balanced_image_parent {
    display: none;
}

.report, .report th, .report td {
    border: 1px solid black;
    text-align: left;
}

.report th {
    min-width: 248px;
    padding: 4px 8px;
}

.visual-btn {
    background: #4AB7AE;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.visual-btn:hover {
    background-color: #0056b3;
}

.visuals-content {
    width: 800px;
    max-width: 80%;
    margin-top: 64px;
}
