{% extends 'base.html' %}

{% block content %}
    {% include 'nav.html' %}

    <div class="dashboard-cards">
        <a href="{{ url_for('reports') }}">
            <div class="card">
                <img src="{{ url_for('static', filename='icons/image.svg') }}" alt="image">
                <h4>Reports</h4>
            </div>
        </a>

        <div class="card">
            <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="image">
            <h4>Reports</h4>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='icons/camera.svg') }}" alt="image">
            <h4>Reports</h4>
        </div>
    </div>

    <a href="{{ url_for('login') }}"><button class="logout">Logout</button></a>
{% endblock %}