{% extends 'base.html' %}

{% block content %}
    {% include 'nav.html' %}
    
    <div class="live-data-content">
        
        <div id="live_data">
            <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="test data">
        </div>
        <div id="preprocessing">
            <h3>Live Data Feed</h3>
            <button onclick="genReport()" class="generate-report-btn">Generate Report</button>

            <div id="report"></div>
            <div class="preprocessing_images">
                <div id="resized_image">
                    <p>Preprocessing Step 1: Resize Image</p>
                </div>
                <div id="white_balanced_image">
                    <p>Preprocessing Step 2: Apply white balancing & adjust brightness</p>
                </div>
            </div>
            
        </div>
        <!-- <img src="{{ url_for('video_feed') }}" alt="factory floor"> -->

    </div>

    <script>
        async function genReport() {
            const res = await fetch('/generate_report');
            const report = await res.json()

            document.getElementById('report').innerText = report.report;
            
            // create resized image element
            const resizedImageElement = document.createElement("img");
            let parentElement = document.getElementById("resized_image");
            resizedImageElement.src = 'data:image/jpeg;base64,' + report.resized_image;
            parentElement.appendChild(resizedImageElement);

            // create white balanced image element
            const whiteBalancedImageElement = document.createElement("img");
            parentElement = document.getElementById("white_balanced_image");
            whiteBalancedImageElement.src = 'data:image/jpeg;base64,' + report.white_balanced_image;
            parentElement.appendChild(whiteBalancedImageElement);
        }
    </script>
{% endblock %}