{% extends 'base.html' %}

{% block content %}
    {% include 'nav.html' %}

    <div class="reports-content">
        <h3>Report data</h3>
        <a href="{{ url_for('visuals') }}" class="visual-btn">Visualize Reports</a>
        <label for="rows">Num of reports</label>
        <input type="number" id="rows" name="rows" value="10">
        <button onclick="getReportData()">Get Report Data</button>

        <table id="reports-table">
            <tr>
                <th>Date</th>
                <th>Moisture Level</th>
                <th>Confidence</th>
            </tr>
        </table>

        
    </div>

    <script>
        async function getReportData() {
            const rows = document.getElementById('rows').value

            const res = await fetch(`/get_report_data?rows=${rows}`);
            const data = await res.json();
            
            console.log(data)

            data.forEach(report => {
                let tr = document.createElement('tr')
                tr.appendChild(document.createElement('td').innerText = report.time)
                tr.appendChild(document.createElement('td').innerText = report.moisture_level)
                tr.appendChild(document.createElement('td').innerText = report.accuracy)

                document.getElementById('reports-table').appendChild(tr)
            });
        } 
    </script>

{% endblock %}